*{
    font-family: 'Roboto Condensed', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}
nav .nav-link{ color: #606060; font-weight: 500 }
nav .nav-link.active{ color: #004994 }
.gota{
    position: absolute;
    top: 80px;
    right: 3%;
    width: 460px;
    z-index: 100;
    display: none;
}
.gota-content{
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 110px 90px;
}

@media screen and (min-width: 992px){
    .gota{
        display: block;
        top: 100px;
        width: 420px;
    }     
    
}
@media screen and (min-width: 1200px){
    .gota{
        top: 50px;
        width: 460px;
    }
    .gota-content{
        padding: 100px 90px;
    }
}


.gota img{
    width: 100%;
}
.gota label,.bg-gota label{
    margin-top: 10px;
    display: flex;
}
.form-gota{
    font-size: 1rem;
    width: 100%;
    border: 0;
    background-color: transparent;
    color: #fff;
    padding: 5px;
    border-bottom: 1px dashed #fff;
}
textarea.form-gota{
    border: 1px dashed #fff;
}

.btn-margin{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
}
.banner img{
    width: 100%;
}
html,body,#app{
    overflow-x: hidden;
}

.banner-text{
    color: #fff;
    width: 100%;
}

.flex{
    display: flex;
}
.banner-titulo{
    font-size: 50px;
    line-height: 1;
}
.banner-capital{
    line-height: 0.8;
    font-size: 120px;
}

@media screen and (max-width: 992px){
    nav{
        padding: 1rem 0px;
    }
}
@media screen and (max-width: 768px){
    .banner-titulo{
        font-size: 2.15rem;
        line-height: 1;
    }
    .banner-capital{
        line-height: 0.8;
        font-size: 5rem;
    }
}

.banner{
    background-repeat: no-repeat;
    background-origin: cover cover;
    background-size:  auto 110%;
    position: relative;
    min-height: 300px;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
}
@media screen and (min-width: 1200px){
    .banner{
        min-height: 500px;
        height: calc(100% - 110px);
    }
}


@media screen and (min-width: 992px){
    .banner{
        min-height: 550px;
    }
}
.btn-toggler{
    border-color: #044C82;
    color: #044C82;
}
/**
*   Gris
*/
.bg-gris,.bg-blue,.bg-blanco,.bg-gota{
    padding: 3rem 0;
}
.bg-gris{
    background-color: #EAE9F2;
    color: #606060;
}
.bg-blanco{
    background-color: #fff;
    color: #606060;
}
.bg-gris p,.bg-blanco p{
    font-size: 18px;
    text-align: justify;
}

.text-blue{
    color: #044C82;
}
.text-blue2{
    color: #007BAF;
}
.text-amarillo{
    color: #FFFF00
}
.bg-gota{
    background-color: #3872B7;
    color: #fff;
}
@media screen and (min-width: 992px){
    .bg-gota{
        display: none;
    }
}
.bg-blue{
    background-color: #004994;
    color: #fff;
}


.youtube{
    width: 100%;
}

.nosotros .container-interno{
    display: grid;
    grid-gap: 1rem 5rem;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,auto);
}
.nosotros .ci-1{
    grid-column: 1;
    grid-row: 1;
}
.nosotros .ci-2{
    grid-column: 1;
    grid-row: 2;
}
.nosotros .ci-3{
    grid-column: 1;
    grid-row: 4;
}
.nosotros .ci-4{
    grid-column: 1;
    grid-row: 3;
}
@media screen and (max-width: 992px){
    .nosotros .ci-1 img,.nosotros .ci-4 img{
        width: 200px;
    }
}

@media screen and (min-width: 992px){
    .nosotros .container-interno{
        /* padding: 0 4.nosotros .5rem; */
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .nosotros .ci-1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 0;
    }
    .nosotros .ci-2{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        align-items: center;
    }
    .nosotros .ci-3{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        align-items: center;
    }
    .nosotros .ci-4{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 0;
    }
}

.valores img{
    height: 60px;
}
/* align-content: center;
} */
@media screen and (min-width: 992px){
    .valores .row{
        grid-gap: 2rem;
    }
}


.bg-blanco .sub-titulo{
    color: #007BAF;
    text-align: left;
    font-weight: 500;
    cursor: pointer;
}
.servicio h4{
    font-size: 1.125rem;
}
@media screen and (min-width: 992px){
    .servicio .container>.row{
        grid-gap: 2rem 2.5rem;
    }
    .servicio .container>.row .row{
        grid-gap: 2rem;
    }
    .servicio h4{
        font-size: 1.5rem;
    }
}
.footer p{
    font-weight: 300;
}

.vertical-center{
    display: flex;
    align-items: center;
}

.social a{
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    padding: 8px;
    font-size: 20px;
    /* border: 1px solid #111; */
    color: #fff;
}
.social{
    -webkit-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.75);
box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.75);
    position: fixed;
    /* top: calc(100vh / 4) */
    top: 50%;
    /* -webkit-transform: translateY(-50%); */
    transform: translateY(-50%);
}
.bg-instagram{
    background: -moz-linear-gradient(45deg, #f09433 0%, #F67C37 15%, #dc2743 30%, #DC3073 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#F67C37 15%,#dc2743 30%,#DC3073 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#F67C37 15%,#dc2743 50%,#DC3073 75%,#bc1888 100%); 
    /* background-color: #D4475E; */
}
.bg-facebook{
    background-color: #014993;
}
.bg-youtube{
    background-color: #FF0000;
}

.clientes{
    text-align: center;
}
.clientes img{
    max-width: 180px;
    max-height: 80px;
    margin-left: auto;
    margin-right: auto;
}
.card-cliente{
    align-items: center;
    text-align: center;
    display: flex;
}

/**
*   PROCESOS
*/
.procesos .container-interno{
    display: grid;
    grid-gap: 2rem 2.5rem;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,auto);
}
.procesos .ci-1{
    grid-column: 1;
    grid-row: 1;
}
.procesos .ci-2{
    grid-column: 1;
    grid-row: 2;
}
.procesos .ci-3{
    grid-column: 1;
    grid-row: 4;
}
.procesos .ci-4{
    grid-column: 1;
    grid-row: 3;
}
@media screen and (min-width: 992px){
    .procesos .container-interno{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,auto);
        padding: 0px 4rem;
    }
    .procesos .ci-1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 0;
        display: flex;
        align-items: center;
    }
    .procesos .ci-2{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        align-items: center;
    }
    .procesos .ci-3{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        align-items: center;
    }
    .procesos .ci-4{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 0;
        display: flex;
        align-items: center;
    }
}
.procesos p{
    font-size: 16px;
}
.numero{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    font-size: 40px;
    padding: 8px 0;
    text-align: center;
    font-weight: 800;
    background-color: #EAE9F1;
    color: #004994;
}


/**
*   Proyecto
*/
.tarjeta-proyecto{
    position: relative;
    display: flex;
}
.tarjeta-proyecto p{
    font-size: 16px;
}
.tarjeta-proyecto .contenido{
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    bottom: 16px;
    text-align: center;
    background-color: rgba(0,0,0,0.55);
    transition: 0.3s;
}
.tarjeta-proyecto .contenido:hover{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.tarjeta-proyecto .contenido-titulo{
    color: #fff;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
}